body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    line-height: 1.6em;
}

#welcome {
    background: #7b2d00;
    text-align: center;
}

#welcome h1 {
    color: #ffffff;
    font-size: 2.5em;
    margin: 0 auto;
    padding: 0 0 1.5em;
}

#welcome h1 strong.name {
    display:block;
    padding-bottom: 1em;
    font-size: 1.5em;
    font-family: 'Baloo 2', cursive;
}

#welcome .buttons {
    padding-bottom: 2em;
}

#welcome .buttons .btn-lg {
    margin-bottom: 0.5em;
}

#welcome .latest-release {
    padding-bottom: 2em;
}

#welcome .latest-release img{
    height: 30px;
}

#welcome img.logo {
    margin: 1.5em 0;
}

pre.code {
    background: #eeeeee;
    border-width: 1px;
    border-style: dashed;
    border-color: #666666;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 1.25em 1.5625em 1.125em 1.5625em;
    word-wrap: break-word;
}

pre > code {
    line-height: 1.6;
    color: black;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
}

@media only screen { pre.code { font-size: 0.68em; } }
@media only screen and (min-width: 768px) { pre.code { font-size: 0.71em; } }
@media only screen and (min-width: 1280px) { pre.code { font-size: 0.8em; } }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-style: normal;
    color: #7b2d00;
    text-rendering: optimizeLegibility;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.2125em;
}

h2 {
    margin: 1.4em auto;
}

#reactive-lib-support div.card {
    margin-bottom: 1em;
}

#reactive-lib-support div.card img.card-img-top {
    width: 175px;
    margin: 1.5em auto 0;
}

#reactive-lib-support .card-title {
    text-align: center;
}

#reactive-lib-support .delimiter {
    margin: 0 0.2em;
}
#reactive-lib-support .delimiter.long {
    margin: 0 1em;
}

#reactive-lib-support a {
    font-size: 0.8em;
}

footer {
    background-color: #f5f5f5;
}

p.copyright {
    color: #b5b5b5;
    font-style: italic;
    margin-bottom: 0;
    padding-bottom: 1rem;
}

#benefits .item {
    margin-bottom: 2.5em;
}

#benefits .circle {
    width: 2em;
    height: 2em;
    float: left;
    display: block;
    border-radius: 1.5em;
    background: #7b2d00;
    font-size: 2em;
    color: #fff;
    position: relative;
}

#benefits .circle i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -18px;
}

#benefits div.right-icon-text {
    padding-left: 4em;
    font-size: 1.2em;
}

#benefits h5 {
    margin-top: 0;
}

#benefits .item .content {
    display: block;
    color: #707b8e;
    font-size: 0.8em;
    margin-top: 0.5em;
    font-weight: normal;
}

#benefits .item .content td,
#benefits .item .content th {
    padding: 0.4em;
    color: #707b8e;
}

a.read-more {
    font-size: 0.8em;
}

a.read-more .guide {
    font-weight: bold;
}

footer {
    font-size: 0.8em;
}

.console-output {
    color: #900;
}
